*{
    margin: 0;
    padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.nav1{
    width: 100vw;
    height: 100px;
    background-color: black;
     display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: left;
    color: white;
    margin-left: 50px;
  
    font-size: xx-large;
}
.navdiv{
    
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.e1{
    color: rgb(73, 120, 230);
    font-style: italic;
    margin-right: 1px;
}
.elmentdiv{
    height: 50px;
    width: 60%;
    display: flex;
    gap: 20px;
}
.ul1{
    display: flex;
    align-items: center;
   gap: 20px;
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}
.button1{
   background-color: rgb(13, 148, 232);
   margin-left: 30px;
   margin-top: 5px;
   height: 50px;
   width: 120px;
  color: aliceblue;
  border-radius: 10px;
 border: 0;
}
/* .h3{
    font-family: Arial, Helvetica, sans-serif;
} */
 .maindiv{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
 }
 .textdiv{
    width: 50%;
    
 }
 .imagediv{
    width: 50%;
 }
 h1{
   font-size: 50px;
   margin-left: 30px;
 }
 p{
    margin-top: 30px;
    font-size: 20px;
 }
 .imagediv{
    background-image: url(images/main-image.jpg);
    height: 450px;
    width: 700px;
    margin-right: 30px;
    margin-top: 20px;
 }
 .button2{
   background-color: rgb(0, 136, 255);
    height: 50px;
    width: 250px;
    margin-left: 100px;
  display: flex;
  justify-content: center;
    position: relative; /* Positions relative to its normal flow position */
        right: 70px;
        bottom: 110px;
        border: none;
        border-radius: 10px;
 }
 h4{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    color: white;  
 }
 .button3{
    background-color: white;
    height: 50px;
    width: 150px;
    margin-left: 100px;
  display: flex;
  justify-content: center;
    position: relative; /* Positions relative to its normal flow position */
        left: 200px;
        bottom: 160px;
        border-radius: 10px;
        border-color: rgb(0, 106, 255);      
 }
 .h44{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    color: rgb(0, 136, 255);  
 }
